<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpriest.lymmbeerfest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:icon="@drawable/appicon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDaAwDLTAnN84vwNCPuhf8fjDNfxVJiEO0" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9d13a869ca631d152403b6fbee1d971501fd95bd"
            />

        <activity
            android:name="com.alpriest.lymmbeerfest.ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>